    .about-container {
        display: flex;
        align-items: center;
        gap: 45px;
        padding: 30px;
        padding-bottom: 10px;

    }

    .about-image {
        width: 750px;
        height: auto;
    }

    .about-text {
        max-width: 600px;
        font-size: 16px;
    }

    .about-full-text {
        padding: 40px;
        font-size: 16px;
        width: 100%;
        max-width: 100%;
        line-height: 1.7;
        box-sizing: border-box;
    }

    .contect-full-text {
        margin-top: 30px;
    }

    .contect-full-text h1{
        margin: 0;
    }

    body{
        font-family: '"Antic Didone", serif;'
    }